@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dirtyline";
  src: url("../../public//assets/fonts/Dirtyline.otf") format("opentype");
}

.hero::before {
  @apply absolute -inset-[2px] -z-10 rounded-full border border-slate-100/20 bg-slate-200/10 backdrop-blur-sm;
  content: "";
}
